<div class="w3-container w3-padding w3-deep-orange">
    <div class="w3-third w3-container w3-mobile">
        <i class="fas fa-paper-plane"></i><a href="{{ site.baseurl}}">{{ site.title }}</a>
    </div>
    <div class="w3-third w3-container w3-mobile">

    </div>
    <div class="w3-third w3-container w3-mobile">
        {% for menu in site.menus %}
        <a href="{{ menu.url }}">{{ menu.title}}</a>
        {% endfor %}
    </div>
    <a href="" class=" w3-right editor"><i class="fas fa-pen"></i></a>
</div>