<div class="w3-container w3-padding w3-deep-orange w3-input">
    <div class="w3-third w3-container w3-mobile">
        <a href="{{ site.web }}"><i class="fas fa-paper-plane"></i> <strong>{{ site.title }}</strong></a>
    </div>
    <div class="w3-third w3-container w3-mobile w3-padding">

    </div>
    <div class="w3-third w3-container w3-mobile">
        <div class="w3-right">
        {% for menu in site.menus %}
            <a href="{{ menu.url }}">{{ menu.title}}</a>
            {% endfor %}       
        </div>
    </div>
    <a href="{{ st.includeurl }}/{{ st.topnav }}" class=" w3-right editor"><i class="fas fa-pen"></i></a>
</div>