{% assign st = site.data.pengaturan["setting"] %}
<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body class="w3-light-grey w3-container">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.2&appId=1150331995115046&autoLogAppEvents=1"></script>
    {% include topnav.html %}
    <div class="w3-white" style="padding:2px;"></div>
    <div class="w3-container ">
        <div class="w3-quarter w3-mobile w3-container w3-hide-small">
            {% include leftnav.html %}
        </div>
        <div class="w3-half w3-mobile w3-container w3-white " style="height:700px;scrollbar-width: none;overflow-y: auto">
            {{ content }}
        </div>
        <div class="w3-quarter w3-mobile w3-container w3-hide-small">
            {% include rightnav.html %}
        </div>
    </div>
    <div class="w3-white" style="padding:2px"></div>

    <footer class="w3-container">
        {% include footer.html %}
    </footer>
    <script src="{{ site.baseurl }}/assets/js/malik.js"></script>
</body>
</html>